body {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: #324554;
}

nav {
    background-color: #324554;
    padding: 20px;
    color: antiquewhite;
}

.logo {
    float: left;
    width: 150px;
}

.menuitem {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    padding: inline start 0;
    margin: 0;
}

.menuitem li {
    padding-left: 30px;
    padding-right: 30px;
    list-style-type: none;
}

.contactbutton {
    background-color:#C74E29;
    border: none;
    color: antiquewhite;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align:center;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
}

.contactbutton:hover {
    background-color: #B49B44;
}

.hero {
    display:grid;
    color: #324554;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
    line-height: 15px;
}

.photo {
    width: 450px;
    float:left;
    padding: 70px;
}

.textintro {
    padding-top: 60px;
}

.yellow {
    color: #B49B44;
    display: inline-block;
}

.orange {
    color: #C74E29;
    display: inline-block;
}

.pink {
    color: #E49A85;
    display: inline-block;
}

.footercontent {
    background-color: #324554;
    padding: 20px;
}

.menuitemfooter {
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: left;
    padding: inline start 0;
    margin: 0;
}

.myuxskills {
    background-color: #F4F0ED;
    display: flex;
    flex-direction: row;
    color: #324554;
    justify-content:space-evenly;
    text-align: center;
    padding: 40px;
}

.introskills {
    margin-left: 40px;
    padding: 30px;
    width: 900px;
    color:#AECCCE;
}

.skills .bubbles {
    width: 250px;
    height: 250px;
    display: inline-flex;
    transition: linear;
    padding-top: 20px;
    justify-content:center, space-evenly;
    &:hover {
        transition:ease-in-out; 
    }
}

.skills .ur {
    background: url('Images/bubble1a.png');
    &:hover {
        background: url('Images/bubble1b.png');
    }
}

.skills .vd {
    background: url('Images/bubble2a.png');
    &:hover {
        background: url('Images/bubble2b.png');
    }
}

.skills .ad {
    background: url('Images/bubble3a.png');
    &:hover {
        background: url('Images/bubble3b.png');
    }
}

.skillcopy {
    width: 300px;
}

.heading {
    padding: 20px;
    margin-top: 70px;
    margin-left: 70px;
    margin-bottom: 20px;
    background-color:#324554;
    color: #AECCCE;
    width:fit-content;
}

.headingcopy {
    padding: 30px;
}

.workgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.portfolio {
    margin-left: 70px;
    width: 900px;
    padding-right: 80px;
    padding-bottom: 100px;
    grid-column: 1 / 2;
}

.content {
    grid-column:  2 / 3;
}

.subheading {
    font-size: 30px;
    color: #B49B44;
    font-weight: bold;
    line-height: 35px;
    margin-right: 70px;
}

.portfoliocopy {
    margin-right: 70px;
}

.footer {
    background-color: #324554;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    align-items: top;
}

.footertext {
    color:antiquewhite;
    margin-left: 55px;
    width: 800px;
    font-size: medium;
}

.menuitemfooter {
    justify-content:flex-start;
    align-items: left;
    padding: inline start 0;
    margin: 0;
}

.contactform {
    padding: 20px;
    display: flex;
    margin-left: 50px;
    flex-direction:column;
    justify-content:flex-start;
    align-items: top;
    max-width: 1000px;
}

.submitbutton {
    background-color:#C74E29;
    color: antiquewhite;
    padding: 20px;
    width: 200px;
    margin-top: 30px;
    text-align:center;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.submitbutton:hover {
    background-color: #B49B44;
}

.headinginverse {
    padding: 20px;
    margin-top: 70px;
    margin-left: 55px;
    margin-bottom: 20px;
    background-color:#B49B44;
    color: antiquewhite;
    width:fit-content;
}

.input {
    padding: 10px;
    margin: 10px;
}


@media only screen and (max-width: 600px){
    .workgrid {
        grid-template-columns: 1fr;
    }
}